@attribute [Route(Page.Users)]
@attribute [Authorize(Roles = Roles.ProlobbyOwner)]

<PageTitle>Users</PageTitle>

@if (boUsers == null || npUsers == null || saUsers == null)
{
    <h2 class="display-4 border-bottom text-primary py-3">Users</h2>
    <div class="d-flex justify-content-center align-items-center py-5">
        <Loading />
    </div>
}

@if (boUsers == null)
{
    @if (ShowError)
    {
        <div class="alert alert-danger text-wrap" role="alert">
            @Error
        </div>
    }
}
else
{
    <h4 class="display-4 border-4 border-bottom text-primary py-3">Business owners</h4>

    <div class="d-flex align-items-center border-bottom justify-content-between bg-light py-3">
        <div class="m-1 mx-3 fs-5 fw-bold">
            id
        </div>
        <div class="m-1 col-2 fs-5 fw-bold">
            Name
        </div>
        <div class="m-1 col-3 fs-5 fw-bold">
            Email
        </div>
        <div class="m-1 col-3 fs-5 fw-bold">
            Twitter
        </div>
    </div>

    @foreach (var boUser in boUsers)
    {
        <div class="d-flex align-items-center border-bottom justify-content-between py-2">
            <div class="m-1 mx-3 text-break">
                @boUser.Id
            </div>
            <div class="m-1 col-2 text-break">
                @boUser.Name
            </div>
            <div class="m-1 col-3 text-break">
                @boUser.Email
            </div>
            <div class="m-1 col-3 text-break">
                @boUser.TwitterHandle
            </div>
        </div>
    }

    <nav aria-label="Page navigation example" class="mt-4">
        <ul class="pagination justify-content-center">
            <li class="page-item @(CurrentPageBO == 1 ? "disabled" : "")">
                <button class="page-link" @onclick="() => ChangePage(UserType.BusinessOwner, CurrentPageBO - 1)">Previous</button>
            </li>
            <li class="page-item">
                <span class="page-link">@($"{CurrentPageBO} / {TotalPagesBO}")</span>
            </li>
            <li class="page-item @(CurrentPageBO == TotalPagesBO ? "disabled" : "")">
                <button class="page-link" @onclick="() => ChangePage(UserType.BusinessOwner, CurrentPageBO + 1)">Next</button>
            </li>
        </ul>
    </nav>
}

@if (npUsers == null)
{
    @if (ShowError)
    {
        <div class="alert alert-danger text-wrap" role="alert">
            @Error
        </div>
    }
}
else
{
    <h4 class="mt-5 display-4 border-4 border-bottom text-primary py-3">Non profit organizations</h4>

    <div class="d-flex align-items-center border-bottom justify-content-between bg-light py-3">
        <div class="m-1 mx-3 fs-5 fw-bold">
            id
        </div>
        <div class="m-1 col-2 fs-5 fw-bold">
            Name
        </div>
        <div class="m-1 col-3 fs-5 fw-bold">
            Email
        </div>
        <div class="m-1 col-3 fs-5 fw-bold">
            Website
        </div>
    </div>

    @foreach (var npUser in npUsers)
    {
        <div class="d-flex align-items-center border-bottom justify-content-between py-2">
            <div class="m-1 mx-3 text-break">
                @npUser.Id
            </div>
            <div class="m-1 col-2 text-break">
                @npUser.Name
            </div>
            <div class="m-1 col-3 text-break">
                @npUser.Email
            </div>
            <div class="m-1 col-3 text-break">
                @npUser.Website
            </div>
        </div>
    }

    <nav aria-label="Page navigation example" class="mt-4">
        <ul class="pagination justify-content-center">
            <li class="page-item @(CurrentPageNP == 1 ? "disabled" : "")">
                <button class="page-link" @onclick="() => ChangePage(UserType.NonProfit, CurrentPageNP - 1)">Previous</button>
            </li>
            <li class="page-item">
                <span class="page-link">@($"{CurrentPageNP} / {TotalPagesNP}")</span>
            </li>
            <li class="page-item @(CurrentPageNP == TotalPagesNP ? "disabled" : "")">
                <button class="page-link" @onclick="() => ChangePage(UserType.NonProfit, CurrentPageNP + 1)">Next</button>
            </li>
        </ul>
    </nav>
}

@if (saUsers == null)
{
    @if (ShowError)
    {
        <div class="alert alert-danger text-wrap" role="alert">
            @Error
        </div>
    }
}
else
{
    <h4 class="mt-5 display-4 border-4 border-bottom text-primary py-3">Bloggers</h4>

    <div class="d-flex align-items-center border-bottom justify-content-between bg-light py-3">
        <div class="m-1 mx-3 fs-5 fw-bold">
            id
        </div>
        <div class="m-1 col-2 fs-5 fw-bold">
            Twitter
        </div>
        <div class="m-1 col-2 fs-5 fw-bold">
            Email
        </div>
        <div class="m-1 col-3 fs-5 fw-bold">
            Address
        </div>
        <div class="m-1 col-2 fs-5 fw-bold">
            Phone
        </div>
    </div>

    @foreach (var saUser in saUsers)
    {
        <div class="d-flex align-items-center border-bottom justify-content-between py-2">
            <div class="m-1 mx-3 text-break">
                @saUser.Id
            </div>
            <div class="m-1 col-2 text-break">
                @saUser.TwitterHandle
            </div>
            <div class="m-1 col-2 text-break">
                @saUser.Email
            </div>
            <div class="m-1 col-3 text-break">
                @saUser.Address
            </div>
            <div class="m-1 col-2 text-break">
                @saUser.PhoneNumber
            </div>
        </div>
    }
    <nav aria-label="Page navigation example" class="mt-4">
        <ul class="pagination justify-content-center">
            <li class="page-item @(CurrentPageSA == 1 ? "disabled" : "")">
                <button class="page-link" @onclick="() => ChangePage(UserType.SocialActivist, CurrentPageSA - 1)">Previous</button>
            </li>
            <li class="page-item">
                <span class="page-link">@($"{CurrentPageSA} / {TotalPagesSA}")</span>
            </li>
            <li class="page-item @(CurrentPageSA == TotalPagesSA ? "disabled" : "")">
                <button class="page-link" @onclick="() => ChangePage(UserType.SocialActivist, CurrentPageSA + 1)">Next</button>
            </li>
        </ul>
    </nav>
}

